#logo-text-docs {
    font-weight: 500;
    font-size: 25px;
    margin-left: 1%;
    padding-top: 5%;
    color: rgb(12, 55, 149);
    margin-left: 20px;
}

// #v-tabs-tab
// {
//     margin-top: -30px !important;
// }

.active {
    border: 1px solid rgb(184, 184, 184) !important;
}

.search_text {
    margin-top: 13px !important;
}

// Styling for the button to add the new contacts
.btn-add {
    margin-top: 9px;
    margin-left: 20px;
}

.btn-add button {
    border: none !important;
    width: 30px !important;
    height: 40px !important;
    text-align: center !important;
}

#docsNavBarTop {
    position: absolute;
    top: 0%;
    height: 95px !important;
    width: 100%;
    z-index: 100000 !important;
    background-color: white;
}

.btnasalinside {
    font-size: 18px;
    // width: fit-content !important;
    margin-top: 13px !important;
    height: 38px !important;
    background-color: blue !important;
}
button:hover,
button:focus {
    outline: none !important;
    border: none !important;
}
// button:hover,
// button:focus {
//     outline: none !important;
// }

.mobile-dark-doc {
    display: none;
}

/* 
.tab-pane
{
    position: relative;
    z-index: -10000;
    display: none;
} */

.docs-tabs {
    position: relative !important;
    font-size: 16px !important;
    font-weight: lighter !important;
    text-transform: none !important;
}

#logo-text-docs:hover {
    color: #458cff;
    transition: 0.1s linear;
    cursor: pointer;
}

#btn-search {
    margin-right: 10%;
    display: flex;
}

.tab-docs-left {
    background-color: white;
    height: auto;
}

/* 
#Docs-bars
{
  color: var(--text-color);
  background-color: rgb(110, 110, 110);
  height: 100%;
  width: 100%;
  border-radius: 2px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 30px;
} */

#Docs-bars {
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 2px;
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media all and (max-width: 800px) {
    #Docs-bars {
        display: inline-block;
    }
    #btn-search {
        display: none;
    }
    .mobile-dark-doc {
        display: block;
        margin-right: 30px;
    }
}

/* @media all and (max-width:600px) {
    #Docs-bars {
        display: inline-block;
    }
    #btn-search
    {
        display: none;
    }
} */

@media all and (max-width: 330px) {
    .mobile-dark-doc {
        position: absolute;
        left: 1%;
        top: 40%;
    }
}
